main{
display:block;
padding-bottom:16px;
line-height:1.25;
}
footer{
width:100%;
font-family: Georgia, "Times New Roman", serif;
font-size: 14px;
position:fixed;
bottom:0;
background-color:#fff;
text-align:center;
padding: 5px 0;
}

nav{
margin-top:.5em;
}
main, nav {
  margin: 0 auto;
  width: 50rem;
}
.guide main,
.guide nav{
  width: 60rem;
}
.breadcrumb { 
list-style: none; 
overflow: hidden; 
font: 14px Helvetica, Arial, Sans-Serif;
padding:0;
margin:0;
}
.breadcrumb li { 
float: left; 
padding-right:3px;
}
.breadcrumb li a{
text-decoration:none;
}
.breadcrumb li a:hover{  
text-decoration:underline;
}

div.google_custom_search{
min-height:64px;
}

header{
  text-align: center;
}
