/bin
/.gradle
/.apt_generated
/.apt_generated_tests
/build
/buildSrc/.gradle
/buildSrc/build
/compiletime-aspects
/runtime-aspects
/.idea/artifacts
/.idea/dataSources/

spring-shell.log
derby.log
velocity.log
proteus_ssh_host_key
.DS_Store
.idea/dataSources.local.xml
.idea/sqldialects.xml
.idea/workspace.xml
_site/
Gemfile.lock
