<div id="footer_copyright" itemscope="" itemtype="http://schema.org/Organization">
<span class="copyright">© Copyright <span id="copyright_year">{{ site.time | date: '%Y' }}</span> 
  <a itemprop="name" href="https://www.proteus.co/">Proteus</a>
</span>
  <span id="contact_address" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
     <meta itemprop="url" content="http://www.venturetech.net/">
    <span class="adr" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
      <meta class="street-address" itemprop="streetAddress" content="7120 S. 29th Street">
      <meta class="locality" itemprop="addressLocality" content="Lincoln">
      <meta class="region" itemprop="addressRegion" content="NE">
      <meta class="postal-code" itemprop="postalCode" content="68516">
    </span>
    <span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
      <meta itemprop="latitude" content="40.739285">
      <meta itemprop="longitude" content="-96.677376">
    </span>
  </span>
</div>
