<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/style/syntax.css">
  </head>

  <body>

<div class="google_custom_search">   <!-- Google Search -->
<script>
  (function() {
    var cx = '011996150240257852740:zzqv-9r5xua';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</div>

<div class="file_issue">Problem with the documentation? Please help by <a href="https://github.com/VentureTech/proteus-docs/issues/new">filing an issue</a> in GitHub.</div>

<hr>

      {{ content }}
  </body>
</html>
